USE [master]
GO
/****** Object:  Database [JooleDB]    Script Date: 9/8/2021 1:33:33 PM ******/
CREATE DATABASE [JooleDB]
 CONTAINMENT = PARTIAL
 ON  PRIMARY 
( NAME = N'JooleDB', FILENAME = N'C:\Users\bekbo\AppData\Local\Microsoft\VisualStudio\SSDT\JooleDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JooleDB_log', FILENAME = N'C:\Users\bekbo\AppData\Local\Microsoft\VisualStudio\SSDT\JooleDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JooleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JooleDB]
GO
USE [JooleDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 9/8/2021 1:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/8/2021 1:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_Id] [int] IDENTITY(1,1) NOT NULL,
	[SubCategory_Id] [int] NOT NULL,
	[Product_Name] [varchar](50) NOT NULL,
	[Product_Image] [varchar](255) NOT NULL,
	[Series] [varchar](100) NOT NULL,
	[Model] [varchar](100) NOT NULL,
	[Model_Year] [datetime] NOT NULL,
	[Series_Info] [varchar](255) NOT NULL,
	[Featured] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 9/8/2021 1:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Project_Id] [int] IDENTITY(1,1) NOT NULL,
	[Project_Name] [varchar](255) NOT NULL,
	[Project_Address] [varchar](255) NOT NULL,
	[Project_City] [varchar](50) NOT NULL,
	[Project_State] [varchar](50) NOT NULL,
	[Project_Size] [int] NOT NULL,
	[User_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Project_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjtoProd]    Script Date: 9/8/2021 1:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjtoProd](
	[Project_Id] [int] NOT NULL,
	[Product_Id] [int] NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 9/8/2021 1:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SubCategory_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Id] [int] NOT NULL,
	[SubCategory_Name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubCategory_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/8/2021 1:33:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [varchar](255) NOT NULL,
	[User_Email] [varchar](50) NOT NULL,
	[User_Image] [varchar](255) NOT NULL,
	[User_Password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [Product_fk0] FOREIGN KEY([SubCategory_Id])
REFERENCES [dbo].[SubCategory] ([SubCategory_Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [Product_fk0]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [Project_fk0] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([User_Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [Project_fk0]
GO
ALTER TABLE [dbo].[ProjtoProd]  WITH CHECK ADD  CONSTRAINT [Product_IDConstraint] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Product_Id])
GO
ALTER TABLE [dbo].[ProjtoProd] CHECK CONSTRAINT [Product_IDConstraint]
GO
ALTER TABLE [dbo].[ProjtoProd]  WITH CHECK ADD  CONSTRAINT [Project_IDConstraint] FOREIGN KEY([Project_Id])
REFERENCES [dbo].[Project] ([Project_Id])
GO
ALTER TABLE [dbo].[ProjtoProd] CHECK CONSTRAINT [Project_IDConstraint]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [SubCategory_fk0] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Category] ([Category_Id])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [SubCategory_fk0]
GO
USE [master]
GO
