@{
    ViewBag.Title = "Index";
    @model IEnumerable<TheJooleProject.Models.ProductDetailsVM>
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TropicalServer</title>
    <link href="~/Content/productsummary.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>


    </script>
    @Styles.Render("~/Content/productsummary")
    @Scripts.Render("~/Scripts/Product.js")
</head>
<body>

    <div class="d-inline-block">
        <nav class="navbar fixed-top navbar-dark" id="header">
            <a class="narbar-brand my-2" href="#">
                <img src="~/Content/image/jooleImg.png" width="100" height="40" alt="" />
            </a>

            <div class="mx-auto">

                <div class="btn-group">

                    <button class="btn dropdown-toggle" type="button" id="categoryMenuBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="categoryMenuBtn" id="categoriesDropDown">
                     
                    </div>


                </div>
                <div class="btn-group">

                    <form class="form-inline my-2 my-lg-0" id="search">
                        <input name="SubCategory" list="subCategories" class="form-control mr-sm-2" type="text" aria-label="Search" id="searchInput" placeholder="Search..">

                        <datalist id="subCategories">
                          
                        </datalist>

                        @*<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>*@

                        <button class="btn btn-outline-success my-2 my-sm-0 bg-primary text-light" type="submit">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </div>


    <div id="product-summary-page">
        <div id="options">
            <div id="options-search-bar">
                <label id="options-search-label">Search:</label>
                <button class="options-search-buttons" id="options-search-save">Save</button>
                <button class="options-search-buttons" id="options-search-clear">Clear</button>
            </div>
            <div id="options-buttons-div">
                <div class="options-buttons" id="options-buttons-product">Product</div>
                <div class="options-buttons" id="options-buttons-project">Project</div>
            </div>
            <div id="product-box">
                <div class="collapsible" id="product-type-button">
                    Product Type
                </div>
                <div id="product-types">
                    <div class="product-type">Product Test 1</div>
                    <div class="product-type">Product Test 2</div>
                </div>
            </div>
            <div id="model-year-field">
                <label id="model-year-label">Model Year:</label>
                <input type="text" class="model-year-input" id="model-year-input-from" />
                <input type="text" class="model-year-input" id="model-year-input-to" />
            </div>
            <div id="tech-box">
                <label id="tech-specs-label">Technical Specifications</label>
                <div id="tech-specs-dropdown">
                    <div id="airflow-field">
                        <label id="airflow-field-label">Airflow(CFM)</label>
                        <input type="range" id="airflow-field-range" />
                    </div>
                    <div id="maxpower-field">
                        <label id="maxpower-field-label">Max Power (W)</label>
                        <input type="range" id="maxpower-field-range" />
                    </div>
                    <div id="sound-field">
                        <label id="sound-field-label">Sound at max speed (dBA)</label>
                        <input type="range" id="sound-field-range" />
                    </div>
                    <div id="fanspeed-field">
                        <label id="fanspeed-field-label">Fan sweep diameter(in)</label>
                        <input type="range" id="fanspeed-field-range" />
                    </div>
                </div>
            </div>
        </div>
        <div id="products-div">
            <label id="products-div-label">Mechanical > HVAC Fans</label>
            <div id="cards-div">
                <div class="product-summary-card">
                    <img class="product-summary-img" />
                    <label class="product-summary-company">Big Ass</label>
                    <label class="product-summary-series">Haiku H Series</label>
                    <label class="product-summary-id">S3150</label>
                    <label class="product-summary-airflow">5.467 CFM</label>
                    <label class="product-summary-maxspeed">21.14 W at max speed</label>
                    <label class="product-summary-sound">35 dBa at max speed</label>
                    <label class="product-summary-fanspeed">60" fan sweep diameter</label>
                    <div id="product-summary-options">
                        <input class="product-summary-card-compare" type="checkbox" /> <label class="product-summary-card-compare-label">Compare</label>
                        <button class="product-summary-card-add" type="submit">Add to</button>
                    </div>
                </div>
                <div class="product-summary-card">
                    <img class="product-summary-img" />
                    <label class="product-summary-company">Big Ass</label>
                    <label class="product-summary-series">Haiku H Series</label>
                    <label class="product-summary-id">S3150</label>
                    <label class="product-summary-airflow">5.467 CFM</label>
                    <label class="product-summary-maxspeed">21.14 W at max speed</label>
                    <label class="product-summary-sound">35 dBa at max speed</label>
                    <label class="product-summary-fanspeed">60" fan sweep diameter</label>
                    <div id="product-summary-options">
                        <input class="product-summary-card-compare" type="checkbox" /> <label class="product-summary-card-compare-label">Compare</label>
                        <button class="product-summary-card-add" type="submit">Add to</button>
                    </div>
                </div>
                <div class="product-summary-card">
                    <img class="product-summary-img" />
                    <label class="product-summary-company">Big Ass</label>
                    <label class="product-summary-series">Haiku H Series</label>
                    <label class="product-summary-id">S3150</label>
                    <label class="product-summary-airflow">5.467 CFM</label>
                    <label class="product-summary-maxspeed">21.14 W at max speed</label>
                    <label class="product-summary-sound">35 dBa at max speed</label>
                    <label class="product-summary-fanspeed">60" fan sweep diameter</label>
                    <div id="product-summary-options">
                        <input class="product-summary-card-compare" type="checkbox" /> <label class="product-summary-card-compare-label">Compare</label>
                        <button class="product-summary-card-add" type="submit">Add to</button>
                    </div>
                </div>
                <div class="product-summary-card">
                    <img class="product-summary-img" src="https://mobileimages.lowes.com/productimages/7505a187-44c2-4c17-86b0-846ec7602a2d/09830240.jpg?size=pdhi" />
                    <label class="product-summary-company">Big Ass</label>
                    <label class="product-summary-series">Haiku H Series</label>
                    <label class="product-summary-id">S3150</label>
                    <label class="product-summary-airflow">5.467 CFM</label>
                    <label class="product-summary-maxspeed">21.14 W at max speed</label>
                    <label class="product-summary-sound">35 dBa at max speed</label>
                    <label class="product-summary-fanspeed">60" fan sweep diameter</label>
                    <div id="product-summary-options">
                        <input class="product-summary-card-compare" type="checkbox" /> <label class="product-summary-card-compare-label">Compare</label>
                        <button class="product-summary-card-add" type="submit">Add to</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>