@model JooleProject.Models.SearchVM

@{
    ViewBag.Title = "Search";
}

@Styles.Render("~/Content/Search.css");


<head>

    <link rel="#" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/search.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script>
        //this isn't working for some reason 
        $(document).ready(function () {

            var availableTutorials = [
                "Fan",
                "helper",
                "change",
                "Bootstrap",
                "C",
                "C++",

            ];
            $('#sss').autocomplete({
                source: availableTutorials
              
            });
        });

    </script>

</head>



<div class="container">
    <div>

        <img src="~/Content/image/jooleImg.png" id="jooleImg" margin-top="100px" />
        <h3> Building Product Selection Platform</h3>


    </div>

    @using (Html.BeginForm("AdvanceSearch", "Search"))
    {

        <div class="row">
            <div class="col" style="display:inline-block">
                @Html.DropDownListFor(Model => Model.Category_Id, (IEnumerable<SelectListItem>)ViewBag.Category_Name, "Category", htmlAttributes: new { @class = "form-select" })
            </div>
            <div class="col"  id = "sss" style="display:inline-block">
                @Html.TextBoxFor(Model => Model.Product_Name, new { @class = "form-select", id = "sss" })
            </div>
            <div class="col" style="display:inline-block">
                <button type="submit" class="btn btn-primary">
                    @* <i class="fas fa-search">&nbsp; </i>*@
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>
                </button>
            </div>
        </div>
    }





  


</div>