#product-summary-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    border: solid grey 0.2px;
    margin-top: 30px;
    margin-right: 20px;
    padding: 20px;
}

#options-search-label {
    margin-left: 20px;
    margin-right: 30px;
}

#options-search-save {
    margin-right: 10px;
}

#options-buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.options-buttons {
    border: .1px solid grey;
    padding-left: 40px;
    padding-right: 40px;
}

.options-search-buttons {
    background-color: deepskyblue;
    color: white;
    border: none;
    margin-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}


#model-year-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 11px;
}

#model-year-label {
    margin-right: 10px;
}

.model-year-input {
    width: 50px;
}

#model-year-input-from {
    margin-right: 20px;
}

#model-year-input-to {
    margin-left: 20px;
}

#products-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 30px;
}

#product-types {
    border: .1px solid grey;
}

#products-div-label {
    margin-bottom: 20px;
}

#product-box {
    border: .1px solid grey;
    width: 254.5px;
}

#tech-box {
    border: .1px solid grey;
    width: 254.5px;
}

#tech-specs-dropdown {
    border: .1px solid grey;
    width: 254.5px;
}

#cards-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.product-summary-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    margin-right: 20px;
}

#product-summary-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.product-summary-card-add {
    background-color: royalblue;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}

.product-summary-img {
    width: 200px;
    height: 200px;
}
body {
    height: 100vh;
}

#header {
    background-image: linear-gradient(#053354, white);
    z-index: 1;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgrey;
    margin-right: 5px;
    padding: 5px;
    background: #f8f7f7;
    height: -moz-max-content; /* Firefox/Gecko */
    height: -webkit-max-content; /* Chrome */
    height: max-content;
}

.drop {
    display: flex;
    flex-direction: column;
}

.filterContainerFather {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.Product {
    min-width: 200px;
    min-height: 400px;
    width: auto;
    height: auto;
    border: 1px solid darkgray;
    margin-right: 20px;
    padding: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ProductImage {
    width: inherit;
    height: inherit;
    border: 5px solid red;
}

.ProductContainer {
    display: grid;
    grid-template-columns: auto auto auto;
}

.modelYearInput {
    width: 100px;
}

.searchBtn {
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #0fd4f7;
}

#searchSpan {
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px 15px;
    text-align: center;
}

#searchRow {
    display: flex;
    justify-content: space-between;
}

.productRow {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.divider {
    width: inherit !important;
    border-bottom: 1px solid darkgray;
}

.filterContainer div {
    margin: 2px;
}

.verticalDivider {
    width: 1px;
    margin: 1px 0;
    background: darkgray;
    height: inherit;
}

.compareAddTo {
    margin-top: auto;
    display: inline-flex;
    justify-content: space-between;
    /*display: flex;
    justify-content: space-between;*/
}

#jooleImage {
    margin-top: 100px;
}

.btn {
    background-color: Highlight;
}

#searchInput {
    width: 250px;
}

.productType, .technicalSpecifications {
    display: flex;
    justify-content: space-between;
}

.modelYear {
    padding-bottom: 2px;
}

.prodImage {
    width: 180px;
    height: 150px;
}

.minmaxFilter {
    display: flex;
    justify-content: space-evenly;
}

.linkToCategory {
    color: black;
    margin: 4px;
}

.linkArea {
    margin: 4px;
}