@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TropicalServer</title>
    <link href="~/Content/productsummary.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    </script>
    @Styles.Render("~/Content/ProductDetails.css")
    @Scripts.Render("~/Scripts/Product.js")
</head>
<body>
    <div id="product-details-page">
        <table id="description-table" class="table">
            <tr>
                <th>Manufacturer</th>
                <td>Big Ass</td>
            </tr>
            <tr>
                <th>Series</th>
                <td>Haiku H</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>S3150</td>
            </tr>
        </table>
        <table id="type-table" class="table">
            <tr>
                <th>Use Type</th>
                <td>Commercial</td>
            </tr>
            <tr>
                <th>Application</th>
                <td>Indoor</td>
            </tr>
            <tr>
                <th>Mounting Location</th>
                <td>Roof</td>
            </tr>
            <tr>
                <th>Accessories</th>
                <td>With Light</td>
            </tr>
            <tr>
                <th>Model Year</th>
                <td>2016</td>
            </tr>
        </table>
        <table id="tech-table" class="table">
            <tr>
                <th>Air Flow</th>
                <td>5.467</td>
            </tr>
            <tr>
                <th>Power (W)</th>
                <td>Min</td>
                <td>1.95</td>
                <td>Max</td>
                <td>21.14</td>
            </tr>
            <tr>
                <th>Operating Voltage (VAC)</th>
                <td>Min</td>
                <td>100</td>
                <td>Max</td>
                <td>240</td>
            </tr>
            <tr>
                <th>Fan Speed (RPM)</th>
                <td>Min</td>
                <td>35</td>
                <td>Max</td>
                <td>200</td>
            </tr>
            <tr>
                <th>Number of fan speeds</th>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Sound at max speed (dBA)</th>
                <td>35</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Fan sweep diameter (in)</th>
                <td>60</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Height (in)</th>
                <td>Min</td>
                <td>12.3</td>
                <td>Max</td>
                <td>57</td>
            </tr>
            <tr>
                <th>Weight (lbs)</th>
                <td>13</td>
                <td></td>
                <td></td>
                <td></td>
        </table>
    </div>

</body>
</html>
